# Aviation Accident Prediction

### Summary:

- Data Sources:
    - Aviation Accidents: https://www.kaggle.com/khsamaha/aviation-accident-database-synopses?select=AviationData.csv
    
- Environment Setup & Data Load:    
- EDA:
- Preprocessing:

## Environment Setup:

#### Import packages

In [1]:
import pandas as pd
import numpy as np
import os

#### Get Current Working Directory

In [2]:
print(os.getcwd())

C:\Users\thoma\Desktop\Rutgers MBS\Learning_Directory\Aviation Accident Prediction Project

In [3]:
wd = os.getcwd()

## Load Data:

#### Aviation Data:

In [4]:
accident_df = pd.read_csv(os.path.join(wd,'AviationData.csv'))

In [5]:
accident_df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.Flight,Air.Carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Report.Status,Publication.Date
0,20200102X82407,Accident,WPR20CA055,12/31/2019,"Elk, CA",United States,39.128611,-123.715833,LLR,Little River,...,Personal,NaN,NaN,NaN,NaN,1.0,VMC,TAKEOFF,Factual,13/01/2020
1,20191231X83852,Accident,CEN20FA049,12/31/2019,"OLATHE, KS",United States,38.846111,-94.736111,OJC,Johnson County Executive,...,Personal,NaN,2.0,NaN,NaN,NaN,VMC,TAKEOFF,Preliminary,8/1/2020
2,20200102X54844,Accident,ANC20CA011,12/31/2019,"Fairbanks, AK",United States,64.666945,-148.133334,NaN,NaN,...,Personal,NaN,NaN,NaN,NaN,2.0,NaN,NaN,Preliminary,2/1/2020
3,20191230X91852,Accident,CEN20CA048,12/30/2019,"GRANBURY, TX",United States,32.365556,-97.645000,NaN,NaN,...,Personal,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Preliminary,31/12/2019
4,20191228X62945,NaN,WPR20CA053,12/28/2019,"Missoula, MT",United States,NaN,NaN,MSO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Preliminary,3/1/2020

In [6]:
accident_by_code = accident_df.groupby(['Airport.Code'])['Event.Id'].nunique().to_frame().sort_values('Event.Id',ascending=False)

In [7]:
accident_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.Damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.Flight', 'Air.Carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.Phase.of.Flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [8]:
accident_df.shape

(84262, 31)

In [9]:
accident_df.isnull().sum()

Event.Id                      0
Investigation.Type            5
Accident.Number               0
Event.Date                    0
Location                     77
Country                     507
Latitude                  54099
Longitude                 54108
Airport.Code              36539
Airport.Name              33823
Injury.Severity               0
Aircraft.Damage            2709
Aircraft.Category         56754
Registration.Number        3850
Make                         70
Model                        99
Amateur.Built               609
Number.of.Engines          5034
Engine.Type                4256
FAR.Description           57056
Schedule                  72419
Purpose.of.Flight          4880
Air.Carrier               80093
Total.Fatal.Injuries      27203
Total.Serious.Injuries    29878
Total.Minor.Injuries      28670
Total.Uninjured           14589
Weather.Condition          3103
Broad.Phase.of.Flight      6608
Report.Status                 0
Publication.Date          14315
dtype: int64

## EDA:

#### Aviation Accidents

In [10]:
accident_df.head(1)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.Flight,Air.Carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Report.Status,Publication.Date
0,20200102X82407,Accident,WPR20CA055,12/31/2019,"Elk, CA",United States,39.128611,-123.715833,LLR,Little River,...,Personal,NaN,NaN,NaN,NaN,1.0,VMC,TAKEOFF,Factual,13/01/2020

In [11]:
accident_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.Damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.Flight', 'Air.Carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.Phase.of.Flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [12]:
accident_df.isnull().sum()

Event.Id                      0
Investigation.Type            5
Accident.Number               0
Event.Date                    0
Location                     77
Country                     507
Latitude                  54099
Longitude                 54108
Airport.Code              36539
Airport.Name              33823
Injury.Severity               0
Aircraft.Damage            2709
Aircraft.Category         56754
Registration.Number        3850
Make                         70
Model                        99
Amateur.Built               609
Number.of.Engines          5034
Engine.Type                4256
FAR.Description           57056
Schedule                  72419
Purpose.of.Flight          4880
Air.Carrier               80093
Total.Fatal.Injuries      27203
Total.Serious.Injuries    29878
Total.Minor.Injuries      28670
Total.Uninjured           14589
Weather.Condition          3103
Broad.Phase.of.Flight      6608
Report.Status                 0
Publication.Date          14315
dtype: int64

In [13]:
set(accident_df["Investigation.Type"])

{'Accident', 'Incident', nan}

In [20]:
accident_df.groupby(['Investigation.Type'])["Event.Id"].nunique().to_frame()

                    Event.Id
Investigation.Type
Accident               79757
Incident                3273

In [21]:
accident_df.groupby(['Investigation.Type', 'Aircraft.Damage'])["Event.Id"].nunique().to_frame()

                                    Event.Id
Investigation.Type Aircraft.Damage
Accident           Destroyed           17842
                   Minor                 726
                   Substantial         60458
Incident           Destroyed               9
                   Minor                1895
                   Substantial            35

In [22]:
accident_df.groupby(['Investigation.Type', 'Injury.Severity'])["Event.Id"].nunique().to_frame().head()

                                    Event.Id
Investigation.Type Injury.Severity
Accident           Fatal(1)             8280
                   Fatal(10)              43
                   Fatal(102)              2
                   Fatal(103)              1
                   Fatal(104)              2

In [23]:
accident_df.groupby(['Investigation.Type', 'Injury.Severity'])["Event.Id"].nunique().to_frame().tail()

                                    Event.Id
Investigation.Type Injury.Severity
Accident           Fatal(96)               1
                   Fatal(97)               2
                   Non-Fatal           62828
                   Unavailable           315
Incident           Incident             3273

In [23]:
accidents_only_df = accident_df[accident_df["Investigation.Type"]=='Accident']
accidents_only_df = accidents_only_df[accidents_only_df['Injury.Severity'] != 'Unavailable']
accidents_only_df['Severity'] = accidents_only_df['Injury.Severity'].apply(lambda x: 'Fatal' if x[0]=='F' else x)

In [25]:
set(accidents_only_df['Severity'])

{'Fatal', 'Non-Fatal'}

In [24]:
accidents_only_df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.Carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Report.Status,Publication.Date,Severity
0,20200102X82407,Accident,WPR20CA055,12/31/2019,"Elk, CA",United States,39.128611,-123.715833,LLR,Little River,...,NaN,NaN,NaN,NaN,1.0,VMC,TAKEOFF,Factual,13/01/2020,Non-Fatal
1,20191231X83852,Accident,CEN20FA049,12/31/2019,"OLATHE, KS",United States,38.846111,-94.736111,OJC,Johnson County Executive,...,NaN,2.0,NaN,NaN,NaN,VMC,TAKEOFF,Preliminary,8/1/2020,Fatal
2,20200102X54844,Accident,ANC20CA011,12/31/2019,"Fairbanks, AK",United States,64.666945,-148.133334,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,Preliminary,2/1/2020,Non-Fatal
3,20191230X91852,Accident,CEN20CA048,12/30/2019,"GRANBURY, TX",United States,32.365556,-97.645000,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Preliminary,31/12/2019,Non-Fatal
5,20191228X23853,Accident,CEN20MA044,12/28/2019,"LAFAYETTE, LA",United States,30.176111,-92.007500,LFT,Lafayette Regional Apt,...,NaN,5.0,2.0,2.0,NaN,IMC,TAKEOFF,Preliminary,6/1/2020,Fatal

#### Conclusions from Aviation data exploration:

- should clean the nan from Investigation.Type
- all incidents involved no injuries
- Injury.Severity could be further cleaned for Fatal
- Event.Id can serve as primary key
- need to filter for 2018 only
- need to standardize some fields

## Preprocessing:

#### Aviation Accident Preprocessing Goals:
- events taking place in 2018
- events taking place in the United States
- standardize fields:
    - Make
    - Model
    - Injury.Severity
    - State/Location

In [26]:
def preprocess_accident_data(accident_df):
    """Preprocess raw accident data df."""
    # filter:
    # only accidents
    accident_df = accident_df[accident_df["Investigation.Type"]=='Accident']
    # clean severity
    accident_df['Severity'] = accident_df['Injury.Severity'].apply(lambda x: 'Fatal' if x[0]=='F' else x)
    
    # clean date field
    accident_df['Event.Date'] = pd.to_datetime(accident_df['Event.Date'])
    # standardize Make/Model fields
    accident_df['Make'] = accident_df['Make'].str.lower()
    accident_df['Model'] = accident_df['Model'].str.lower()
    
    # drop unnecessary features
    del accident_df['Injury.Severity']
    del accident_df['Location']
    del accident_df['Latitude']
    del accident_df['Longitude']
    del accident_df['Report.Status']
    del accident_df['Publication.Date']
    del accident_df['Schedule']
    del accident_df['Registration.Number']
    del accident_df['Accident.Number']
    del accident_df['Investigation.Type']
    del accident_df['Total.Fatal.Injuries']
    del accident_df['Total.Serious.Injuries']
    del accident_df['Total.Minor.Injuries']
    del accident_df['Total.Uninjured']
    
    return accident_df

In [27]:
clean_accidents = preprocess_accident_data(accident_df)

c:\users\thoma\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
c:\users\thoma\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
c:\users\thoma\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
c:\users\thoma\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [28]:
clean_accidents.head()

,Event.Id,Event.Date,Country,Airport.Code,Airport.Name,Aircraft.Damage,Aircraft.Category,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Purpose.of.Flight,Air.Carrier,Weather.Condition,Broad.Phase.of.Flight,Severity
0,20200102X82407,2019-12-31,United States,LLR,Little River,Substantial,Airplane,cessna,175,No,1.0,Reciprocating,Part 91: General Aviation,Personal,NaN,VMC,TAKEOFF,Non-Fatal
1,20191231X83852,2019-12-31,United States,OJC,Johnson County Executive,Destroyed,Airplane,mooney,m20s,No,1.0,Reciprocating,Part 91: General Aviation,Personal,NaN,VMC,TAKEOFF,Fatal
2,20200102X54844,2019-12-31,United States,NaN,NaN,Substantial,Airplane,cessna,170,No,1.0,NaN,Part 91: General Aviation,Personal,NaN,NaN,NaN,Non-Fatal
3,20191230X91852,2019-12-30,United States,NaN,NaN,Substantial,Airplane,vans,rv 10,Yes,NaN,NaN,Part 91: General Aviation,Personal,NaN,NaN,NaN,Non-Fatal
5,20191228X23853,2019-12-28,United States,LFT,Lafayette Regional Apt,Destroyed,Airplane,piper,pa 31t,No,2.0,Turbo Prop,Part 91: General Aviation,Executive/Corporate,NaN,IMC,TAKEOFF,Fatal

In [29]:
clean_accidents.columns

Index(['Event.Id', 'Event.Date', 'Country', 'Airport.Code', 'Airport.Name',
       'Aircraft.Damage', 'Aircraft.Category', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Purpose.of.Flight', 'Air.Carrier', 'Weather.Condition',
       'Broad.Phase.of.Flight', 'Severity'],
      dtype='object')

In [30]:
clean_accidents.shape

(80814, 18)

In [32]:
clean_accidents.isnull().sum()

Event.Id                     0
Event.Date                   0
Country                    462
Airport.Code             35005
Airport.Name             32363
Aircraft.Damage           1242
Aircraft.Category        54646
Make                        42
Model                       66
Amateur.Built              362
Number.of.Engines         4190
Engine.Type               3421
FAR.Description          54791
Purpose.of.Flight         3446
Air.Carrier              77699
Weather.Condition         2185
Broad.Phase.of.Flight     5802
Severity                     0
dtype: int64

In [31]:
clean_accidents.groupby(['Weather.Condition'])['Event.Id'].nunique().to_frame()

                   Event.Id
Weather.Condition
IMC                    5573
UNK                     916
VMC                   71122

#### Prepare dataset for scikit learn:

In [33]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [34]:
def encode_target(df, target_column):
    """Add column to df with integers for the target."""
    df_mod = df.copy()
    targets = df_mod[target_column].unique()
    map_to_int = {name: n for n, name in enumerate(targets)}
    df_mod["Target"] = df_mod[target_column].replace(map_to_int)

    return (df_mod, targets)

##### Test Target "Aircraft Damage"

In [35]:
prep_df, targets = encode_target(clean_accidents,'Severity')

In [64]:
features = list(us_accidents_2018.columns)

In [67]:
features = features.remove('Aircraft.Damage')

In [36]:
features = ['Weather.Condition','Make','Model']

In [37]:
y = prep_df["Target"]
X = prep_df[features]
dt = DecisionTreeClassifier(min_samples_split=20, random_state=99)
dt.fit(X, y)

ValueError: could not convert string to float: '108-3'